.blognews {
  text-align: start;
}

.blognews .container .plans {
  min-height: 220px;
  border-radius: 25px;
  background-color: #fbcd06;
  box-shadow: 4px 6px 31px 0 rgb(251 205 6 / 25%);
  color: #fff;
  margin-bottom: 30px;
}

.blognews .container .section1,
.blognews .container .section2 {
  padding: 40px;
}

.blognews .container .section1 label {
  font-size: 42px;
  font-weight: 700;
  display: block;
  font-family: ubuntu;
  line-height: 52px;
}

.blognews .container .section1 p {
  font-size: 16px;
  font-family: karla;
  line-height: 26px;
  margin-top: 20px;
}

.blognews .container .section2 label {
  font-size: 18px;
  display: block;
}

.blognews .container .section2 label img {
  width: 15px;
  margin-right: 10px;
}

.blognews .container .section2 p {
  font-size: 18px;
  margin-left: 29px;
}

.blognews .container .section2 .label2 {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .blognews,
  .form-contact,
  .order-notes {
    margin-bottom: 30px;
  }
}
